@model Penelope.Consulta

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Consulta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Numerohc" class="control-label"></label>
                <input asp-for="Numerohc" class="form-control" />
                <span asp-validation-for="Numerohc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FecConsulta" class="control-label"></label>
                <input asp-for="FecConsulta" class="form-control" />
                <span asp-validation-for="FecConsulta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodAgenda" class="control-label"></label>
                <input asp-for="CodAgenda" class="form-control" />
                <span asp-validation-for="CodAgenda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdHorario" class="control-label"></label>
                <input asp-for="IdHorario" class="form-control" />
                <span asp-validation-for="IdHorario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodPrestacion" class="control-label"></label>
                <input asp-for="CodPrestacion" class="form-control" />
                <span asp-validation-for="CodPrestacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Coddestino" class="control-label"></label>
                <input asp-for="Coddestino" class="form-control" />
                <span asp-validation-for="Coddestino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Codpers" class="control-label"></label>
                <input asp-for="Codpers" class="form-control" />
                <span asp-validation-for="Codpers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PendienteSf" class="control-label"></label>
                <input asp-for="PendienteSf" class="form-control" />
                <span asp-validation-for="PendienteSf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Artocentresis" class="control-label"></label>
                <input asp-for="Artocentresis" class="form-control" />
                <span asp-validation-for="Artocentresis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Infiltración" class="control-label"></label>
                <input asp-for="Infiltración" class="form-control" />
                <span asp-validation-for="Infiltración" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ConsultaId" />
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <input asp-for="Tipo" class="form-control" />
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Destino" class="control-label"></label>
                <input asp-for="Destino" class="form-control" />
                <span asp-validation-for="Destino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seguimiento" class="control-label"></label>
                <input asp-for="Seguimiento" class="form-control" />
                <span asp-validation-for="Seguimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoAr" class="control-label"></label>
                <input asp-for="EstadoAr" class="form-control" />
                <span asp-validation-for="EstadoAr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
