@model PSS.Models.Proyectos

@{
    ViewData["Title"] = "Delete";
}

<h2>Eliminar</h2>

<h3>Realmente deseas eliminar el proyecto '@Html.DisplayFor(model => model.NombreObra)' ?</h3>
<div>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdObra" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-primary">Anterior</a>
    </form>
</div>
